## Image formats
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.bmp   binary
*.svg   binary

# Audio formats
*.mp3   binary
*.ogg   binary
*.wav   binary

# Video formats
*.mov   binary
*.avi   binary
*.mpg   binary
*.mpeg  binary
*.mp4   binary

# 3D formats
*.3ds   binary
*.dae   binary
*.fbx   binary
*.obj   binary

# Font formats
*.ttf   binary
*.otf   binary
*.woff  binary
*.woff2 binary

# Data formats
*.json  text
*.xml   text

# Archive formats
*.zip   binary
*.7z    binary
